.title{
    text-align: center;
    color: #229954 ;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 60px 0 30px;
}

.title h2 {
    font-size: 32px;
    color:  #145a32  ;
    margin-top: 5px;
    text-transform: none;
}