/* styles.css */
body {
    font-family: 'Figtree', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #229954;
    color: white;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    width: 80px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.5rem;
}

.nav-links a.active {
    border-bottom: 2px solid white;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.header {
    background-color: #ffffff;
    color: #000;
    padding: 2rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

main {
    padding: 2rem;
}
