/* Style pour la table */
body{
    background: url(bdIndex.jpg);
}

table {
    width: 90%; 
    border-collapse: collapse;
    margin: 20px auto; 
    margin-top: 50px;
}


th {
    background-color: #636262; 
    padding: 6px 12px; 
    border: 1px solid #7a7a7a; 
    color: #c3c3c3;
    
}

td {
    padding: 6px 12px; 
    border: 1px solid #7a7a7a; 
    color: #434343;
}
form button{
    background-color: #047b32; 
    color: white;
    padding: 6px;  
    margin-top: 4px;
    margin-bottom: -2px;
    border-radius: 10px;
    align-items: center;
}
form button:hover{
    color:#047b32;
    background-color: #fff;
}

p{
    color: #434343;
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
}