body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #229954;
    color: #f0f0f0;
    height: 85px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-and-links {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 2rem;
}

.logo-img {
    height: 80px;
    width: 80px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.5rem;
}

.nav-links a.active {
    border-bottom: 2px solid white;
}

.dropdown {
    position: relative;
    margin-left: 980px;
    margin-top: 30px;
}

.dropdown-toggle {
    background: none;
    border: none;
    color: #f0f0f0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-icon {
    margin-left: 0.5rem;
    color: #f0f0f0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f0f0f0;
    color: #229954;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    min-width: 150px;
    z-index: 1;
    align-items: center;
}

.dropdown-menu a {
    color: #229954;
    padding-left: 30px;
    padding-top: 10px;
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
    color: #929694;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.hamburger button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.responsive-menu {
    display: none;
    background-color: #229954;
    padding: 1rem;
}

.responsive-settings {
    border-top: 1px solid white;
    padding-top: 1rem;
    margin-top: 1rem;
}

.responsive-menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
}
