body {
    font-family: Arial, sans-serif;
    color: #229954;
    background: url(bdIndex.jpg); 
}

form {
    max-width: 400px;
    margin: 200px;
    padding: 30px;
    border: 1px solid #e5ebe7;
    border-radius: 5px;
    background-color: #e5ebe7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 450px;
    margin-top: 150px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #229954; /* Dark green color for labels */
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #229954;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

button {
    background-color: #229954; /* Dark green background for button */
    color: #ffffff; /* White text for button */
    cursor: pointer;
    font-size: 17px;
}

button:hover {
    background-color: #a0f8bd;
    color: #229954; /* Slightly lighter green on hover */
}

a {
    color: #229954; /* Dark green color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.nav{
    width: 100%;
    height: 12%;
    padding: 4px 0;
    position:fixed;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
img{
    width: 80px;
    height: 80px;
    margin-left: 60px;
    margin-top: 25px;
}