body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url('bdIndex.jpg');
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav{
    width: 100%;
    height: 12%;
    padding: 4px 0;
    position:fixed;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
img{
    width: 80px;
    height: 80px;
    margin-left: 60px;
    margin-top: 25px;
}
.nav p{
    color:#525252;
    font-size: 18px;
    font-style: normal;
    margin-right: 20px;
}
p {
    color: #229954;
    font-size: 50px;
    text-align: center;
    margin-top: 30px; /* Ajustez la marge selon vos besoins */
    font-style: italic;
}
p:hover{
    letter-spacing: 2px;
    transition: 2s;
}
div a {
    color: #fff;
    text-decoration: none;
    background-color: #229954;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px; /* Ajustez la marge selon vos besoins */
    display: inline; 
    justify-content: space-between;
    margin-left: 20px;
    
}
div a:hover{
    color:#fff;
    background-color: #525252;
}
