.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
@media only screen and (max-width: 768px) {
    .footer {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px 0;
    }
    .footer ul li {
        margin: 5px 0; 
        margin-left: 0; 
    }
}
