.president{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.president-left{
    flex-basis: 40%;
    position: relative;
}

.president-right{
    flex-basis: 56%;
}

.president-img {
    width: 90%;
    border-radius: 20% 50% ; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.388);
}

.president-right h3, h4{
    color:#1e8a49 ;
    padding:10px;
    margin: 10px 0;
}

.president-right p{
    color: #676767;
    margin-bottom: 15px;

}

@media (max-width: 800px){
    .president{
        flex-direction: column;
    }
    .president-left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .president-right{
        flex-basis: 100%;
    }
}

