.home{
    width: 100%;
    min-height:100vh;
    background: linear-gradient(rgba(1, 131, 86, 0.41),rgba(1, 131, 86, 0.41)), url('../../assets/homeImg.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text{
    text-align: center;
    max-width: 900px;
}

.home-text h1{
    font-size: 50px;
    font-weight: 600;
}

@media (max-width: 850px){
    .home-text h1{
        font-size: 40px;
    }
}
@media (max-width: 650px){
    .home-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
}
