.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.about-right {
    flex-basis: 50%;
    position: relative;
    
}

.about-left {
    flex-basis: 60%;
    margin-right: 45px; 
}


.about-img {
    width: 100%;
    border-radius: 10% 
}

.about-left h4{
    color: #676767;
    margin-bottom: 20px;
}

.about-left p{
    color: #676767;
    margin-bottom: 20px;
}

.play-icon{
    width: 100px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
@media (max-width: 800px){
    .about{
        flex-direction: column;
    }
    .about-right{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .about-left{
        flex-basis: 100%;
    }
}

