.carte {
    width: 70%;
    height: 500px; 
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 60px;
}


.gmap_iframe {
    width: 100%;
    height: 100%; 
    border: none; 
}


.carte-legende {
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
}
@media only screen and (max-width: 768px) {
    .carte {
        width: 90%; 
        height: 300px;
        margin-top: 30px; 
    }
}
