.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 48%;
    color: #676767;
}
.contact-col h3{
    color: #000F38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-col  h3 img{
    width: 40px;
    margin-left: 10px;
}
.contact-col p{
    max-width: 450px;
    list-style: 0.3;
}
.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.contact-col ul li img{
    width: 40px;
    margin-right: 10px;
    background: #1e8a49;
    border-radius: 50%;
    color: #fff;
    padding: 8px;
}
.contact form input , .contact form textarea {
    display: block;
    width: 100%;
    background: #d0e6dab9;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}
.contact-col span{
    display: block;
    margin: 20px 0;
}
.btn-cont {
    background: #1e8a49;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: none; 
}

@media only screen and (max-width: 768px) {
    .contact {
        margin: 40px auto;
        flex-direction: column; 
        align-items: center;
    }
    .contact-col {
        flex-basis: 100%; 
        margin-bottom: 30px;
        text-align: center; 
    }
    .contact form input, .contact form textarea {
        margin-bottom: 10px; 
    }
}
