@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
body{
    background: url(../src/assets/bdIndex.jpg);
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
select {
    padding: 6px 10px;
    font-size: 14px;
    border: none;
    background-color:#fff ;
    color: #1e8a49;
    appearance: none;
    cursor: pointer;
    border-radius: 20px;
}

.btn {
    background: #fff;
    color: #1e8a49;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: moveButton 1s infinite alternate; 
}

.btn img {
    width: 50px;
    margin-left: 5px;
}

@keyframes moveButton {
    from {
        transform: translateX(0); 
    }
    to {
        transform: translateX(10px); 
    }
}

@media(max-width:1200px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn{
        padding: 14px 22px;
    }
    select{
        padding: 14px 22px;
    }
}
