.terrain{
    margin: 0;
    padding:0 80px;
    position: relative;
}
.right-btn , .left-btn{
    position: absolute;
    top:43%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
    background:#1e8a49 ;
    margin: 50px;
}
.left-btn{
    right: auto;
    left: 0;
}
.slider {
    overflow: hidden;   
}

.slider ul{
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
}
.slider ul li {
    list-style: none;
    width: 50%;
    padding: 20px;
}
.slide{
    padding: 40px;
    line-height: 1.4;
    width: 80%;
    margin: 40px;
    position: relative;
}
.slide img{
    width: 140%;
    height: 140%;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.204);
}
.caption{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(1, 131, 86, 0.339);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    width: 108%; 
    height: 81.5%; 
    border-radius: 15px;
    margin-top:40px ;
    margin-left: 40px;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.rtl .caption{
    margin-right: 60px;  
}
.caption p{
    font-size: 25px;
    font-style: italic;
    letter-spacing: 1px;
    animation: stretch 1s infinite alternate;
}
.caption img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background: none;
    border: none;
    animation: rotateImage 3s linear infinite;
}
@keyframes rotateImage {
    0% {
        transform: rotateY(0deg); 
    }
    100% {
        transform: rotateY(360deg); 
    }
}
.slide:hover .caption{
    opacity: 1;
    padding-top: 0;
}
@keyframes stretch {
    from {
        letter-spacing: 1px; 
    }
    to {
        letter-spacing: 5px; 
    }
}

@media only screen and (max-width: 768px) {
    .terrain {
        padding: 0 20px; 
    }
    .right-btn, .left-btn {
        padding: 10px;
        margin: 20px; 
    }
    .slider ul {
        width: 300%; 
    }
    .slider ul li {
        width: 100%; 
    }
    .slide {
        padding: 20px; 
        width: 100%; 
        margin: 20px 0; 
    }
    .slide img {
        width: 100%; 
        height: auto; 
        margin-right: 0; 
    }
    .caption {
        width: 100%; 
        height: auto; 
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 25px;
        margin-right: 25px;
    }
    .caption p {
        font-size: 18px;
    }
    .caption img {
        width: 60px; 
        height: 60px;
        margin-bottom: 10px;
    }
}

